.profileButton {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-inline: 10px;
    transition-duration: 0.4s;
    height: 2.5rem;
}

.profileButton:hover {
    color: rgba(0, 0, 0, 0.4);

}

.profileButtonLogo {
    margin-right: 10px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 2px;
}

.profileButtonText {
    padding: 10px 10px 10px 0px;
    font-weight: 500;
}

.profileCard {
    float: right;
    height: 800px;
    width: 30%;
    display: block;
    margin: 1%;
    border-radius: 5px;
    background-color: white;
}

.projectViewCard {
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 4px;
    float: left;
}

h2.projectView {
    background-color: #DAE0E6;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-top: 34px;
    margin-left: 20px;
}

.membersCard {
    background-color: D9D9D9;
}

.membersList {
    background-color: white;
    float: right;
    margin-right: 16px;
}